{% extends 'admin/index.html' %}
{% load static %}
{#{% block extrahead %}#}
{#    {{ block.super }}#}
{#    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>#}
{#    <script src="{% static 'common/js/show-hide.js' %}"></script>#}
{#{% endblock %}#}
{% block content %}
    <div class="dashboard">
        <a href="/api/admin/administration/user/{{ user.id }}/change" class="button link">Profilul meu</a>
        {% if perms.is_superuser %}
            <a href="/api/dumpdata/" class="button link">Generează seed</a>
            <a href="/api/loaddata/" class="button link">Adaugă seed în baza de date</a>
            <a href="/api/downloaddata/" class="button link">Descarcă seed</a>
            <a href="/api/swagger/" class="button link">Swagger</a>
        {% endif %}
    </div>

    <h1></h1>
    {{ block.super }}
{% endblock %}